<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
        <p>
          <small>
            Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
          </small>
        </p>
        <%= form_for(resource, as: resource_name,id:'form-register', url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <%= f.label :name %>
                <%= f.text_field :name, placeholder:'Name',class:'form-control'%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <%= f.label :username %>
                <%= f.text_field :username, placeholder:'Username',class:'form-control'%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true,class:'form-control',placeholder:'Example@email.com' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" ,placeholder:'Minimum of 8 Charactors',class:'form-control'%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" ,placeholder:'Minimum of 8 Charactors',class:'form-control'%>
              </div>
            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-md-6">
              <p>I agree to the <a href="#" class="text-info small">Pages Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>
            </div>
            <div class="col-md-6 text-right">
              <a href="#" class="text-info small">Help? Contact Support</a>
            </div>
          </div>
            <%= f.submit 'Create a new account',class:'btn btn-primary btn-cons m-t-10' %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<div class=" full-width">
  <div class="register-container m-b-10 clearfix">
    <div class="inline pull-left">
      <img src="assets/img/demo/pages_icon.png" alt="" class="m-t-5 " data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" width="60" height="60">
    </div>
    <div class="col-md-10 m-t-15">
      <p class="hinted-text small inline ">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
    </div>
  </div>
</div>
