<h1>Job</h1>
<%=@job.title%>
<%=@job.description%>
<%=@job.price%>
<%=@job.location%>
<%=@job.duration%>

<%= link_to 'Destroy', @job , method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'bids/form'%>
<%= render 'bids/bids'%>