<%= provide(:title, 'Showcase')%>

<%= content_for :css do%>
<%= stylesheet_link_tag 'MetroJs'%>
<%= stylesheet_link_tag 'dialog'%>
<%= stylesheet_link_tag 'dialog-sandra'%>
<%= stylesheet_link_tag 'owl.carousel'%>
<%= stylesheet_link_tag 'jquery.nouislider'%>
<%end%>
<div class="page-content-wrapper ">
<%= render 'head'%>
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">

        <div class="gallery">
          <div class="gallery-filters p-t-20 p-b-10">
            <ul class="list-inline text-right">
              <li class="hint-text">Sort by: </li>
              <li><a href="#" class="active text-master p-r-5 p-l-5">Name</a></li>
              <li><a href="#" class="text-master hint-text p-r-5 p-l-5">Views</a></li>
              <li><a href="#" class="text-master hint-text p-r-5 p-l-5">Cost</a></li>
              <li>
                <button class="btn btn-primary m-l-10" data-toggle="filters">More filters</button>
              </li>
            </ul>
          </div>
          <% @showcases.each do |showcase| %>
          <div class="gallery-item" data-width="1" data-height="1">

            <%= link_to (image_tag showcase.photo.url), showcase, remote: true , class:'image-responsive-height'%>

            <div class="overlayer bottom-left full-width">
              <div class="overlayer-wrapper item-info ">
                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                  <div class="">
                    <p class="pull-left bold text-white fs-14 p-t-10"><%= showcase.title%></p>
                    <div class="clearfix"></div>
                  </div>
                  <div class="m-t-10">
                    <div class="thumbnail-wrapper d32 circular m-t-5">
                      <img width="40" height="40" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
                    </div>
                    <div class="inline m-l-10">
                      <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                      <p class="rating">
                        <i class="fa fa-star rated"></i>
                        <i class="fa fa-star rated"></i>
                        <i class="fa fa-star rated"></i>
                        <i class="fa fa-star rated"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                    <div class="pull-right m-t-10">
                      <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
        <div id="itemDetails" class="dialog item-details">
          <%= render 'show.html.erb'%>
        </div>

          <%end%>
   </div>


<%= content_for :js do%>
    <%= javascript_include_tag 'MetroJs.min'%>
    <%= javascript_include_tag 'imagesloaded.pkgd.min'%>
    <%= javascript_include_tag 'isotope.pkgd.min'%>
    <%= javascript_include_tag 'dialogFx'%>
    <%= javascript_include_tag 'owl.carousel.min.js'%>
    <%= javascript_include_tag 'jquery.nouislider.min.js'%>
    <%= javascript_include_tag 'jquery.liblink.js'%>
    <%= javascript_include_tag 'gallery'%>
<%end%>