<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :css  %>
  </head>

  <body class="fixed-header horizontal-menu">
  <%= render("layouts/common/notifications")%>
  <div class="page-container ">
    <div class="page-content-wrapper ">
    <%= render("layouts/common/head")%>
      <%= render("layouts/common/quickview")%>
      <%= yield %>
      <%= render("layouts/common/footer")%>
      </div>
  </div>
    <%= render("layouts/common/search")%>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :js%>
  </body>
</html>